@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Quicksand:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #272626;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
}

p {
  font-size: 13px;
}
